@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Noto+Sans:wght@400;600;700&family=Poppins:wght@200;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Poppins, Lato, Georgia, Times, 'Times New Roman', serif;
}

/* Main shop page */


/* header section */
header .top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
header .top-header img{
    width: 100px;
    margin: auto 10px;
}
header .top-header a{
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    margin: auto 10px;
}

header .top-header a:hover{
    background-color: #f7e28f;
    border-color: #f1c50e;
}


/* Navbar section */
nav{
    background-color: #333333;
}
nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    color: #fff;
}
nav .menu input{
    display: none;
}

nav .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 20px;
}

nav .menu ul a{
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
    color: #fff;
} 

nav .menu ul a:hover{
    color: #f1c50e;
}

nav .menu ul a li{
    list-style: none;
}

nav .menu span{
    margin: auto 15px;
    cursor: pointer;
}
nav .menu span.hamber{
    display: none;
}

/* **************************** Main page accordion style *********************************** */
article .accordion-wraper{
    background-color: #ddddddef;
    padding: 30px 0 50px;
}
article .accordion-wraper .animate-header{
    background-color: #ddddddef;
    padding: 20px;
    border-radius: 5px;
}
.accordion-sction{
    width: 80%;
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.accordion-sction label{
    cursor: pointer;
    display: block;
    padding: 15px 25px;
    font-size: 16px;
}
.accordion-sction label i{
    float: right;
}
.accordion-sction input{
    display: none;
}
.accordion-sction .accor-content{
    width: 100%;
    border: 1px solid  #333333;
    background-color: #fff;
    box-shadow: 2px 2px 10px -1px rgba(0,0,0,0.2), -1px -1px 10px -1px rgba(255,255,255,.6);
    border-radius: 5px;
}
.accordion-sction .accor-content label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}
.accordion-sction .accor-content label span{
    background-color: #333333;
    color: #fff;
    font-size: 40px;
    padding: 5px;
    border-radius: 5px;
}
.accordion-sction .accor-content input[type=radio]:checked + label + .accor-text{
    max-height: fit-content;
    padding: 10px 30px 20px;
}
.accordion-sction .accor-content input[type=radio]:checked + label i{
    rotate: 180deg;
}
.accordion-sction .accor-content .accor-text{
    padding: 0 30px;
    max-height: 0;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    transition: max-height 0.8s, padding 0.5s;
}

/******************************* Journal page styles ***************************/
nav .journal-menu{
    justify-content: center;
}
article{
    background-color: #b2b2b2;
    padding-top: 30px;
}

article .introduction{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 0 auto 50px;
    background-color: #f1c50e;
    padding: 20px 0;
    border-radius: 5px;
}

article .introduction img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
article .introduction .intro-me{
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}
article .introduction .intro-me p{
    margin-top: 20px;
}
article h1{
    color: #333333;
    width: 80%;
    margin: 0 auto;
}
article .main-content{
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
article .main-content>div{
    box-shadow: 1px 1px 10px 3px #e7e7e7;
    background-color: #fff;
    padding: 20px;
    flex: 1 1 10em;
    border-radius: 5px;
}
article .main-content>div>p{
    font-size: 14px;
}
article .main-content>div>a{
    /* text-decoration: none; */
    display: block;
    margin: 10px 0;
    color: #0a82f3;
}

article .main-content .improvement span{
    font-size: 40px;
    color: #fff;
    background-color: rgb(0, 153, 255);
    border-radius: 5px;
    padding: 5px;
}
article .main-content .solutions span{
    font-size: 40px;
    color: #fff;
    background-color: rgb(19, 206, 128);
    border-radius: 5px;
    padding: 5px;
}
article .main-content .errors span{
    font-size: 40px;
    color: #fff;
    background-color: rgb(199, 5, 5);
    border-radius: 5px;
    padding: 5px;
}
article .main-content .project span{
    font-size: 40px;
    color: #fff;
    background-color: #f1c50e;
    border-radius: 5px;
    padding: 5px;
}
article .main-content>div>h2{
    margin: 20px 0 5px;
}

/********************************** Lessons page styles ******************************************/
section .lessons-wraper> :nth-child(odd){
    background-color: #b2b2b2;
}
section .lessons-wraper> :nth-child(even){
    background-color: #ddddddef;
}
section .lessons-wraper .lesson {
    padding: 20px 0;
}
section .lessons-wraper .lesson h2{
    width: 80%;
    margin: 0 auto;
}

section .lessons-wraper .lesson .content {
    width: 80%;
    margin: 0 auto 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 5px;
}

section .lessons-wraper .lesson .content .content-header{
    width: 50%;
}    
section .lessons-wraper .lesson .content .content-sample{
    font-weight: bold;
    width: 50%;
}    
section .lessons-wraper .lesson .content .content-sample ul li{
    list-style: none;
}    
section .lessons-wraper .lesson .content .content-sample img{
    width: 400px;
    height: 150px;
}    


/********************************** Footer section ******************************************/
footer{
    background-color: rgb(9, 9, 45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
footer .footer-wraper{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-template-rows: 1fr;
    gap: 20px;
    margin-bottom: 30px;
}

footer .footer-wraper .foot-menu ul a{
    text-decoration: none;
    color: #fff;
    list-style: none;
}
footer .footer-wraper .foot-menu ul a li:hover{
    color: #f1c50e;
}
footer .footer-wraper .foot-social{
    display: flex;
    justify-content: start;
    align-items: center;
    border: none solid none solid;
}
footer .footer-wraper .foot-social ul a{
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
}
footer .footer-wraper .foot-social ul a i:hover{
    color: #b2b2b2;
}
footer .footer-wraper .foot-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
footer .copy-right {
    color: #f1c50e;
    font-size: 12px;
}

/******************************* Animations ********************************/

@keyframes changeBgColor {
    0% {background-color: #333333;}
    25% {background-color: #1036dd;}
    50% {background-color: yellowgreen;}
    75% {background-color: #ee4b4bef;}
    100% {background-color: #f1c50e;}
}

#sampleAnimation {
    animation: changeBgColor 3s infinite;
}

/****************************** Media query *******************************/

@media screen and (max-width: 992px) {
    article .introduction{
        flex-direction: column;
    }
    article .introduction .intro-me{
        margin-top: 30px;
        max-width: 70%;
    }
    article .introduction .intro-me h2{
        text-align: center;
    }
    section .lessons-wraper .lesson .content {
        flex-direction: column;
    }
    section .lessons-wraper .lesson .content .content-header {
        width: 100%;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 768px) {
    nav .menu {
        align-items: start;
        display: block;
    }
    nav .menu ul {
      display: none;
      max-height: 0;
    }
    nav .menu span.hamber {
      display: block;
    }
    nav .menu input[type=checkbox]:checked + label + ul{
        height: 210px;
        display: block;
        max-height: 250px;
        /* flex-direction: column; */
    }
    nav .menu input[type=checkbox]:checked + label + span.basket{
        display: block;
    }
    nav .menu input[type=checkbox]:checked + label span{
        color: #f1c50e
    }
    section .lessons-wraper .lesson .content .content-sample img{
        width: 300px;
    }
}



