@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Noto+Sans:wght@400;600;700&family=Poppins:wght@200;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Poppins, Lato, Georgia, Times, 'Times New Roman', serif;
}

header .top-header{
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .top-header img{
    width: 100px;
    margin: auto 10px;
}
header .top-header .search{
    border: 1px solid #000;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px;
    width: 30%;
}
header .top-header .search input{
    border: none;
    outline: none;
    width: 100%;
}

header .top-header a{
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    margin: auto 10px;
}

header .top-header a:hover{
    color: rgb(7, 147, 212);
    border-color: rgb(7, 147, 212);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgb(81, 200, 255);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul a{
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
    color: #000;
} 

nav ul a:hover{
    background-color: rgb(7, 147, 212);
    color: #fff;
}

nav ul a li{
    list-style: none;
}
nav span{
    margin: auto 15px;
    cursor: pointer;
    font-size: 20px;
}

section{
    width: 80%;
    margin: 0 auto;

}

.products-wraper {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    grid-template-rows: 1fr;
    grid-row: auto;
}
.products-wraper .card {
    margin: 10px;
    box-shadow: 1px 1px 8px 1px #e7e7e7;
}
.products-wraper .card a{
    text-decoration: none;
    color:#000
}
.products-wraper .card:hover {
    box-shadow: 1px 1px 15px 3px #e7e7e7;
}

.products-wraper .card img{
    width: 100%;
}

.products-wraper .card .product-content{
    padding: 10px;
}
.products-wraper .card .product-content .pro-short-desc{
    font-size: 12px;
    margin: 5px 0 10px;
}
.products-wraper .card .product-content .price{
    margin: 15px 0;
    font-size: 20px;
    font-weight: bold;
    color: rgb(253, 28, 28);
}
.products-wraper .card .product-content .pro-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.products-wraper .card .product-content .pro-footer .rate span{
    color: rgba(197, 168, 4, 0.89);
}
.products-wraper .card .product-content .pro-footer .add-to-care-btn{
    background-color: rgb(14, 148, 148);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}
.products-wraper .card .product-content .pro-footer .add-to-care-btn:hover{
    background-color: rgb(11, 116, 116);
}

